/*this makes measurements together with border*/
* {
  box-sizing: border-box;
}
/*define main font and background for the page*/
body {
  font-family: "Inter", sans-serif;
  font-weight: lighter;
  max-width: 960px;
  margin: auto;
  background-image: url("../img/forest-fog.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-size: 100% 100%;
}
/*header with logo and navigation menu*/
.header {
  height: 30%;
  background-color: #c2e5d3;
  border-bottom: 8px solid #014421;
  margin: -10px -8px;
}
.logo {
  border-radius: 50%;
  width: 30%;
  max-width: 60px;
  align-items: center;
}
.menu,
.logo-header {
  display: flex;
}
.logo-header {
  margin: 10px;
  flex-direction: column;
}
.logo-header a {
  margin-top: 10px;
}

.menu {
  padding-left: 0px;
}

.menu li {
  list-style: none;
  margin: 0.5rem 1rem;
  padding: 0 0.5rem;
  border: 2px solid #c2e5d3;
  border-radius: 5px;
  font-weight: bolder;
  font-size: 20px;
}
.menu a:link {
  color: rgb(79, 8, 138);
  text-decoration: none;
}

.menu a:hover {
  text-decoration: underline;
  background-color: #c2e5d3;
  background-clip: border-box;
}

/*increase spacing between lines in About section*/
.text-about {
  line-height: 1.5em;
}
/*experience job list with flex structure*/
.list {
  line-height: 2em;
  list-style: none;
  margin: 8px;
  padding: 0;
}
.job {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.date {
  font-style: italic;
  color: rgb(62, 65, 68);
  font-weight: lighter;
}
.experience li,
#projects li {
  margin-bottom: 1em;
  padding: 10px;
  background-color: #c4d1e1;
  border: none;
  border-radius: 5px;
}

/*skills section*/
.skills {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5em;
  padding-left: 0px;
}

.skills li {
  text-align: center;
  padding: 0.3em 0.5rem;
  color: #014421;
  border: 2px solid #c2e5d3;
  background-color: #c2e5d3;
  border-radius: 5px;
  font-size: 1.125em;
  flex-grow: 1;
}

/*Leave a message form*/
.messages {
  border: none;
  background-color: #c4d1e1;
  max-width: 960px;
  padding: 10px;
  border-radius: 5px;
  margin: auto;
}

input[type="text"],
input[type="email"] {
  border-radius: 5px;
  border: 1px solid steelblue;
  width: 80%;
}

textarea {
  width: 90%;
  height: 100px;
  border-radius: 5px;
  border: 1px solid steelblue;
}

input[type="submit"].submit-button {
  border-radius: 8px;
  border: none;
  background-color: #014421;
  box-shadow: 6px 3px 3px gray;
  color: white;
  padding: 0.5rem 1.2rem;
  font-family: inherit;
  font-size: 1.2em;
}
.messages-list {
  margin-top: 50px;
}

/*footer*/
#ftr-copyright {
  color: #c2e5d3;
  margin-top: 50px;
}

@media screen and (max-width: 496px) {
  /*change appearance of navigtion links for small screen*/
  .menu {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  /*change appearance of experience list for small screens*/
  .job {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
  }
}
@media screen and (min-width: 497px) {
  /*navigation menu appearance for larger screens*/
  .menu {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 768px) {
  /*change message form appearance for small screens*/
  #leave_message {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: flex-start;
  }
  .contact-info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    row-gap: 10px;
  }

  .message-email,
  .message-name,
  .message-text {
    display: flex;
    flex-direction: column;
    column-gap: 10%;
    align-items: stretch;
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  input[type="text"],
  input[type="email"] {
    width: 90%;
  }
}

@media screen and (min-width: 769px) {
  /*change leave message form appearance for larger screens*/
  #leave_message {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .contact-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .message-email,
  .message-name,
  .message-text {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-left: 30px;
  }
  .message-email,
  .message-name {
    flex-grow: 1;
  }
  .message-text {
    flex-grow: 3;
  }

  input[type="submit"].submit-button {
    margin-left: 30px;
  }
}
